
.card{
    border: none;
    border-left: 5px solid #0000;
    margin-top: 50px;
    border-top-left-radius: 30px; ;
}
.cat-tools{
    display: none;
}
.cat-tools i{
    margin: 0px 5px;
    cursor: pointer;
}
.catagory-list .card:hover{
    cursor: pointer;
    background-color: #f8f8f8;
}
.catagory-list .card:hover .cat-tools{
    display: inline;
}

.vaild-message{
    margin-left: 20px;
}
#div-catagory:focus{
        outline-width: 0px;
}
.add-margin{
    margin-top: 30px;
}
.btn-todo{
    margin-left: 15px;
}